/* Medium screen styles */
@media (max-width: 900px) {
    .header-container {
        flex-wrap: wrap;
    }
    #primary-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
}
    .logo-text h1 {
        font-size: 1.2rem;
    }
    
    .hero-content h2 {
        font-size: 2rem;
    }
    
    .controls {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }
    
    .cards {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}