@media (min-width: 768px) {
  /* nav {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
  }

  #hamburger {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .about-me, .student-photo {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }

  #course-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .course-card {
    width: calc(33% - 1rem);
  } */


  header {
    justify-content: space-between;
    padding: 1rem 2rem;
  }

   
  #hamburger {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    background-color: #333;
  }

  nav ul{
    display: flex;
  }

  nav a {
    flex: 0 1 30%; 
    border: none;
    padding: 1rem 2rem;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    background-color: white;
    padding: 10px;
}

  .grid-container > section {
    
    text-align: center;
    padding: 10px;
    font-size: 30px;
  }
  h2{
    background-color: rgb(42, 41, 41);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 20px;
  }  

  section {
    margin-bottom: 3rem;
  }
  
  .about-me {
    grid-column: 1 / span 2;
  }
  .student-photo img {
    width: 300px;
    height: 400px;
    object-fit: cover;
  }
 .about-me,.student-photo{
    background-color: #f1f1f1;
    padding: 50px;
}
 .courses > h2{

    grid-column: 1 / span 3;
  }
 .buttons {
    justify-content: flex-start;
  }


  .social-links {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto; 
    width: 317px;
    height: 74px;

    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .course-cards, .filter-buttons{
    grid-template-columns: auto auto auto;
  }

  footer p {
    
    margin: 0.5rem 0;
  }
}
