/* small.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #333;
    padding: 1rem;
}

header img {
    height: 40px;
}

#hamburger{
    border: none;
    font-size: 2rem;
    color: #999;
    cursor: pointer;
}

#nav-menu {
      background-color: #333;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.5s ease-out;
  }

#nav-menu.active {
    max-height: 300px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.nav-links a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #444;
}

.nav-links a.active {
    background-color: #555;
    font-weight: bold;
    position: relative;
}

main {
    padding: 1rem;
}

p {
    font-size: medium;
}

section {
    margin-bottom: 2rem;
}

img[loading="lazy"] {
    max-width: 100%;
    height: auto;
}

.buttons {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #333;
    color: #f1f1f1;
}

button:active{
    background-color: #333;
}


.filter-buttons {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.filter {
    padding: 0.5rem 1rem;
    border: none;
    background: #ccc;
    cursor: pointer;
}

.course-cards {
    display: grid;
    gap: 1rem;
}

/* Active state for filter buttons */
.filter-buttons button.active {
    background-color: #333;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.course.completed {
    background-color: #f3cba63f;
    border-left: 5px solid #ff7b003f;
}

.course-cards,
.filter-buttons {
    grid-template-columns: auto auto auto;
}

.social-links {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 317px;
    height: 74px;

    gap: 0.5rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

